#board {
    background-color: tan;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    border: 15px solid tan;
    border-radius: 50px;
  }
  ​
  .row {
    display: flex;
    flex: 1;
  }
  ​
  .space {
    flex: 1;
  }
  ​
  .red {
    background-color: red;
  }
  ​
  .black {
    background-color: black;
  }